@import url('https://fonts.googleapis.com/css2?family=Shabnam&display=swap');

body {
  margin: 0;
  font-family: 'Shabnam', sans-serif;
  direction: rtl;
  background-color: #fff;
  color: #0b0d3f;
}

/* هدر بالا */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b0d3f;
  color: white;
  padding: 10px 20px;
}

.title {
  font-size: 1.5rem;
}

.search-box input {
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
}

.login-box {
  background-color: white;
  color: #0b0d3f;
  padding: 5px 12px;
  border-radius: 10px;
  font-weight: bold;
}

.login-box a {
  color: #0b0d3f;
  text-decoration: none;
  margin: 0 4px;
}

/* منوی پایین */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d7b451;
  padding: 10px 20px;
  position: relative;
}

.main-nav .logo {
  position: absolute;
  right: 20px;
  font-size: 1.5rem;
}

.main-nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav li {
  position: relative;
  padding: 0 10px;
  font-weight: bold;
  font-size: 1rem;
}

/* لینک‌ها */
.main-nav li a {
  text-decoration: none;
  color: #0b0d3f;
  transition: color 0.3s ease;
}

/* تغییر رنگ لینک‌ها در هاور */
.main-nav li a:hover {
  color: #d7b451;
}

/* جداکننده بین آیتم‌ها */
.main-nav li::after {
  content: " |";
  color: #0b0d3f;
  opacity: 0.6;
  padding-right: 10px;
}

/* حذف جداکننده برای آخرین آیتم */
.main-nav li:last-child::after {
  content: "";
}

/* hero جدید به صورت باکس وسط صفحه با تصویر و گوشه گرد */
.hero-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  background-color: #fff;
}

.hero-content {
  background-image: url('images/Watermarkbg.jpg');
  background-size: cover;
  background-position: center;
  width: 80%;
  max-width: 1100px;
  height: 65vh;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 40px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
}


.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  text-align: center;
}

.hero-content p {
  font-size: 1.2rem;
  text-align: center;
}
